.container {
    display: flex;
}

.container > nav {
    width: 100px;
    background-color: #d20f17;
    color: white;
}

.container_notice {
    margin-bottom: 60px;
}

.box_post {
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px 30px 0 30px;

    font-size: larger;
}

.post_title {
    font-size: xx-large;
    display: block;
}

.post_meta {
    display: flex;
    justify-content: space-between;
}