main {
    padding: 30px;
}

li {
    list-style-type: none;
    padding-left: 0;
}

.container_notice {
    margin-bottom: 60px;
}

.box_post {
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px 30px 0 30px;

    font-size: larger;
}

.post_title {
    font-size: xx-large;

    text-decoration-line: none;
    display: block;
    color: black;
}

.post_meta {
    display: flex;
    justify-content: space-between;
}