table, td, th {
    border: 1px solid black;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form_search label {
    display: inline;
    margin-right: 15px;
}

.reservation {
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.reservation_form {
    padding: 20px;
    width :45%;
    background-color: #f2f2f2;
}

#form_reservation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form_reservation button {
    background-color: #696969;
    color: white;
    border: none;
    padding: 8px 20px;
    margin-top: 10px;
}

#form_reservation button:hover {
    background-color: #494949;
}

.row_form {
    display: flex; /* form 내부 요소들을 flexbox로 설정 */
    justify-content: flex-start; /* form 내부 요소들을 양쪽으로 정렬 */
    width: 90%; /* form_row의 너비를 최대로 설정 */
}
.row_form label {
    width: auto;
    flex: 1; /* 각 라벨이 동일한 공간을 차지하도록 설정 */
    display: flex; /* 라벨을 flexbox로 만듬 */
    flex-direction: column; /* 라벨 내부의 요소들을 세로로 배치 */
}

.row_form label input, .row_form label select {
    width: 95%; /* 입력창의 가로 길이를 줄임 */
    margin-top: 3px; /* 라벨과 입력창 사이의 간격을 설정 */
}
.row_form_date input {
    height: 27px; /* 날짜 입력창의 세로 길이를 조절 */
}
.row_form_room input{
    height: 23px;
}
.row_form label select {
    height: 27px;
}
.row_form label:not(:last-child) {
    margin-right: 5px; /* 라벨들 사이의 간격을 설정 */
}

#timeSlots {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    width: 100%;

}

#timeSlots .timeSlot {
    flex-grow: 1;
    height: 30px;
    border-right: 1px solid #000;
    position: relative;
    background-color: #BDBDBD;
}

#timeSlots .timeSlot:last-child {
    border-right: 0;
}

#timeSlots .timeSlot.available {
    background-color: #4682b4;
}

#timeSlots .timeSlot .hour {
    position: absolute;
    top: -25px;
    left: -8px;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

#reserveForm button:hover {
    background-color: #dee2d6;
}

#form_search button {
    background-color: #696969;
    color: white;
    border: none;
    padding: 3px 20px;
}
#form_search button:hover {
    background-color:#494949;
}

.list_table {
    border-collapse: collapse;
    border-top: 2px solid #000000;
    border-left: 0;
    border-right: 0;
}
.list_table th {
    color: #000000;
    background: #EEF1F7;
    text-align: center;
}
.list_table th, .list_table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.list_table th:first-child, .list_table td:first-child {
    border-left: 0;
}
.list_table th:last-child, .list_table td:last-child {
    border-right: 0;
}
.list_table tr td:first-child{
    text-align: center;
}
.list_table caption{caption-side: bottom; display: none;}