main {
    background-image: url("/image/mainpage_background.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: right;
    padding: 0;
}

.main_sidebar {
    box-sizing: border-box;
    padding: 30px;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;

    font-size: large;
    font-weight: bold;
}

.main_sidebar .btn {
    padding: 15px;
}

#login_form {
    display: flex;
}

#login_form > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    margin-right: 15px;
}

#login_form label {
    display: block;
}

#login_form input[type="text"],
#login_form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#login_form input[type="text"]::placeholder,
#login_form input[type="password"]::placeholder {
    color: #a0a0a0;
    font-size: 0.9em;
}

#login_form input:focus {
    outline: none;
}

.btn_login {
    background-color: #ca3833;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn.btn_my_lecture {
    display: block;
    color: white;
    background-color: #00b1a0;
    border-radius: 5px;
    font-size: large;
    height: 80px;
    line-height: 80px;
    padding: 0px 30px 0px 30px;
    text-align: center;
}

.btn_logout {
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}