table, td, th {
    border: 1px solid black;
}

.sugang_container {
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

.list_table {
    border-collapse: collapse;
    border-top: 2px solid #666666;
    border-left: 0;
    border-right: 0;
}
.list_table th {
    color: #000000;
    background: #EEF1F7;
    text-align: center;
}
.list_table th, .list_table td {
    padding: 10px;
    border: 1px solid #ddd;
}
.list_table th:first-child, .list_table td:first-child {
    border-left: 0;
}
.list_table th:last-child, .list_table td:last-child {
    border-right: 0;
}
.list_table tr td:first-child{
    text-align: center;
}
.list_table caption{caption-side: bottom; display: none;}

.sugang_container button, .class_container button {
    background-color: #696969;
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}
.sugang_container button:hover, .class_container button:hover {
    background-color:#494949;
    cursor: pointer;
}
.taking_class_list button {
    padding: 5px 10px;
}