<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
  <link rel="stylesheet" href="/css/classroom.css"/>
</head>
<body>
<header>
  <a href="/"> <img src="/image/lms.png" /> </a>
  <h1> 강의실 예약 페이지 </h1>
</header>
<main>
  <div class="classroom_container">
    <div class="classroom_reservation">
      <h2> 강의실 예약 </h2>
      <form>
        <label>
          건물 번호  :
          <input type="text" name="buildingNumber"> </br>
          강의실 번호 :
          <input type="text" name="classroomNumber"> </br>
        </label>
        <label for="startDateTime"> 시작 시간 :
          <input type="datetime-local" id='startDateTime'/>
          <script>
            document.getElementById('startDateTime').value= new Date().toISOString().slice(11, 16);
          </script>
<!--          <input type="datetime-local"-->
<!--                 id="startDateTime"-->
<!--                 max="2077-06-20T21:00"-->
<!--                 min="2023-11-30T12:30"-->
<!--                 value="2077-06-15T13:27"> </br>-->
        </label> </br>
        <label for="endDateTime"> 종료 시간 :
          <input type="datetime-local" id='endDateTime'/>
          <script>
            document.getElementById('endDateTime').value= new Date().toISOString().slice(11, 16);
          </script>
<!--          <input type="datetime-local"-->
<!--                 id="endDateTime"-->
<!--                 max="2077-06-20T21:00"-->
<!--                 min="2023-11-30T12:30"-->
<!--                 value="2077-06-15T13:27">-->
<!--        </label> </br>-->
        </label> </br>
        <button> 예약 </button>
      </form>
    </div>
    <div class="classroom_search">
      <h2> 검색 창 </h2>
      <form action="/classroom">
        <label>
          건물 번호 :
          <input type="text" name="buildingNumber">
        </label>
        <button> 검색 </button>
      </form>
    </div>
    <div class="classroom_list">
      <th:block th:if="${buildingNumbers != null}">
        <h2> 건물 목록 </h2>
        <table>
          <th>건물 번호</th>
          <th:block th:each="buildingNumber : ${buildingNumbers}">
            <tr>
              <td th:text="${buildingNumber}"></td>
            </tr>
          </th:block>
        </table>
      </th:block>
      <th:block th:if="${classrooms != null}">
        <h2> 강의실 목록 </h2>
        <table>
          <th>건물 번호</th>
          <th>강의실 코드</th>
          <th>강의실 이름</th>
          <th:block th:each="classroom : ${classrooms}">
            <tr th:object="${classroom}">
              <td th:text="*{buildingNumber}"></td>
              <td th:text="*{roomCode}"></td>
              <td th:text="*{name}"></td>
            </tr>
          </th:block>
        </table>
      </th:block>
    </div>
  </div>
</main>
</body>
</html>