<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>LMS</title>
	<link rel="stylesheet" href="/css/base.css"/>
	<link rel="stylesheet" href="/css/classroom.css"/>
</head>
<body>
	<header>
		<a href="/"> <img src="/image/lms.png" /> </a>
	</header>
	
	<div class="container_whole">
		<nav class="nav_sidebar">
			<a th:href="@{/class}">
				<img class="nav_image" alt="과목" src="/image/book.svg">
				<p class="nav_name">과목</p>
			</a>
			<a th:href="@{/sugang}">
				<img class="nav_image" alt="수강신청" src="/image/sugang.svg">
				<p>수강신청</p>
			</a>
			<a th:href="@{/classroom}">
w				<img class="nav_image" alt="강의실" src="/image/classroom.svg">
				<p>강의실</p>
			</a>
		</nav>
		
		<main>
			<h1> 강의실 예약 페이지 </h1>
			<div class="classroom_container">
				<div class="reservation">

					<h2> 강의실 예약 </h2>
					<div class="reservation_form">
					<form id="form_reservation">
						<div class="row_form">
							<label class="row_form_date">
								날짜
								<input type="date" name="date" id="reservedDate">
							</label>
						</div>
						<div class="row_form">
							<label class="row_form_room">
								건물 번호
								<input type="text" name="buildingNumber">
							</label>
							<label class="row_form_room">
								강의실 코드
								<input type="text" name="roomCode">
							</label>
						</div>
						<button type="button" onclick="searchRoom()"> 강의실 이용 가능 시간 조회 </button>
						
						<br><br>
						<div id="timeSlots"></div>

						<div class="row_form">
							<label>
								예약 시작 시간
								<select name="startTime" id="startTime"> </select>
							</label>
							<label>
								예약 종료 시간
								<select name="endTime" id="endTime"> </select>
							</label>
						</div>
						<button type="button" onclick="reserveRoom()">예약하기</button>
					</form>
					</div>
					<br>
					
					<div class="reservation_list">
						<h2> 강의실 예약 내역 </h2>
						<table class="list_table">
							<th>건물 번호</th>
							<th>강의실</th>
							<th>예약 날짜 및 시간</th>
							<th></th>
							<th:block th:each="reservedClassroom : ${reservedClassrooms}">
								<tr class="reservedClass"
								    th:object="${reservedClassroom}"
								    th:attr="data-start-dt=*{startDateTime},data-end-dt=*{endDateTime}">
									<td th:text="*{buildingNumber}"></td>
									<td th:text="*{roomCode}"></td>
									<td class="datetime"> 시간 </td>
									<td>
										<button
												class="cancelBtn"
												th:param1="*{reservedId}"
												th:onclick="cancelReservation(this.getAttribute('param1'))"> 예약 취소</button>
									</td>
								</tr>
							</th:block>
						</table>
					</div>
				</div>
				<div class="search">
					<h2> 검색 창 </h2>
					<form id="form_search" action="/classroom">
						<label>
							건물 번호 :
							<input type="text" name="buildingNumber">
						</label>
						<button> 검색 </button>
					</form>
				</div>
				
				<div class="list">
					<th:block th:if="${buildingNumbers != null}">
						<h2> 건물 목록 </h2>
						<table class="list_table">
							<th>건물 번호</th>
							<th:block th:each="buildingNumber : ${buildingNumbers}">
								<tr>
									<td th:text="${buildingNumber}"></td>
								</tr>
							</th:block>
						</table>
					</th:block>
					<th:block th:if="${classrooms != null}">
						<h2> 강의실 목록 </h2>
						<table class="list_table">
							<th>건물 번호</th>
							<th>강의실 코드</th>
							<th>강의실 이름</th>
							<th:block th:each="classroom : ${classrooms}">
								<tr th:object="${classroom}">
									<td th:text="*{buildingNumber}"></td>
									<td th:text="*{roomCode}"></td>
									<td th:text="*{name}"></td>
								</tr>
							</th:block>
						</table>
					</th:block>
				</div>
			</div>
		</main>
	</div>
	
	<script src="/js/classroom.js"></script>
</body>
</html>