<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>LMS</title>
	<link rel="stylesheet" href="/css/base.css"/>
	<link rel="stylesheet" href="/css/sugang.css"/>
</head>
<body>
	<header>
		<a href="/"> <img src="/image/knuils.png" /> </a>
	</header>
	
	<div class="container_whole">
		<nav class="nav_sidebar">
			<a th:href="@{/class}">
				<img class="nav_image" alt="과목" src="/image/book.svg">
				<p class="nav_name">과목</p>
			</a>
			<a th:href="@{/sugang}">
				<img class="nav_image" alt="수강신청" src="/image/sugang.svg">
				<p>수강신청</p>
			</a>
			<a th:href="@{/classroom}">
				<img class="nav_image" alt="수강신청" src="/image/classroom.svg">
				<p>강의실</p>
			</a>
		</nav>
		
		<main>
			<h1> 수강신청 페이지 </h1>
			<div class="sugang_container">
				<h2> 수강신청 </h2>
				<form id="sugang_form" action="/api/sugang" method="post">
					<input hidden="hidden" />
					<label>
						과목 전체 코드 :
						<input type="text" name="full_code">
					</label>
					<button type="button" onclick="takeClass()" class="btn btn_sugang"> 신청 </button>
				</form>
				
				<h2> 수강 과목 목록 </h2>
				<div class="taking_class_list">
					<table class="list_table">
						<th>과목 코드</th>
						<th>분반</th>
						<th>강의명</th>
						<th></th>
						<th:block th:each="takingClass : ${takingClasses}">
							<tr th:object="${takingClass}">
								<td th:text="*{lectureCode}"></td>
								<td th:text="*{sectionCode}"></td>
								<td th:text="*{lectureName}"></td>
								<td>
									<button
													th:param1="*{lectureCode}" th:param2="*{sectionCode}"
													th:onclick="untakeClass(this.getAttribute('param1'), this.getAttribute('param2'))"> 수강 취소</button>
								</td>
							</tr>
						</th:block>
					</table>
				</div>
			</div>
			
			<div class="class_container">
				<div class="class_search">
					<h2> 검색 창 </h2>
					<form action="/sugang" method="get">
						<label>
							개설 학과 :
							<input type="text" name="departmentCode">
						</label>
						<button> 검색 </button>
					</form>
				</div>
				<div class="class_list">
					<h2> 개설된 수업 목록 </h2>
					<table class="list_table">
						<th>과목 코드</th>
						<th>분반</th>
						<th>강의명</th>
						<th>담당 교수</th>
						<th>건물 번호</th>
						<th>강의실</th>
						<th>현재 수강 인원</th>
						<th>최대 수강 인원</th>
						<th:block th:each="classInfo : ${classInfos}">
							<tr th:object="${classInfo}">
								<td th:text="*{lectureCode}"></td>
								<td th:text="*{sectionCode}"></td>
								<td th:text="*{lectureName}"></td>
								<td th:text="*{professorName}"></td>
								<td th:text="*{buildingNumber}"></td>
								<td th:text="*{roomCode}"></td>
								<td th:text="*{curStudentNum}"></td>
								<td th:text="*{maxStudentNum}"></td>
							</tr>
						</th:block>
					</table>
				</div>
			</div>
		</main>
	</div>
	<script src="/js/sugang.js"></script>
</body>
</html>